{% extends "crashes/base.html" %}
{% load humanize %}

{% block title %}Sentry analyzer: Package browser{% endblock %}

{% block css %}
<style>
.data-status label {
    font-weight: 400;
}
.highlight {
    background-color: rgb(38, 38, 38);
    color: rgb(235, 235, 235);
}
</style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row data-status" style="padding-top: 20px">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Data status</div>
                    <div class="panel-body">
                        <label>Latest event: {{ latest_event.event_created }} {{ latest_event.event_created|date:'e' }}</label>
                        <label>Oldest event: {{ oldest_event.event_created }} {{ oldest_event.event_created|date:'e' }}</label>
                        <label>Stacktraces processed: {{ stacktraces_processed|intcomma }} of {{ stacktraces_all|intcomma }}</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ processed_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ processed_progress }}%;">
                            {{ processed_progress|floatformat:2 }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"><h2>Package explorer</h2></div>
            <div class="col-md-offset-2 col-md-2"><div class="form-inline">
                <label class="sr-only" for="packageSearch">Package Search</label>
                <input data-bind="textInput: search" type="text" class="form-control" id="packageSearch" placeholder="Package Search">
            </div></div>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding-top: 20px">
                <label for="timeRange">Past <span data-bind="text: timeRange"></span> <span data-bind="text: timeRange() == 1 ? 'day' : 'days'"></span></label>
                <input id="timeRange" type="range" min="1" max="90" data-bind="value: timeRange, valueUpdate: 'input'">
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th data-bind="click: sortByPackage">Package ID <span class="glyphicon" data-bind="visible: sortBy() == 'package', css: {'glyphicon-arrow-up': !packageSortDesc(), 'glyphicon-arrow-down': packageSortDesc() }"></span></th>
                            <th data-bind="click: sortByInfo">Infos <span class="glyphicon" data-bind="visible: sortBy() == 'info', css: {'glyphicon-arrow-up': !infoSortDesc(), 'glyphicon-arrow-down': infoSortDesc() }"></span></th>
                            <th data-bind="click: sortByInfoTrend">Info trend <span class="glyphicon" data-bind="visible: sortBy() == 'infoTrend', css: {'glyphicon-arrow-up': !infoTrendSortDesc(), 'glyphicon-arrow-down': infoTrendSortDesc() }"></span></th>
                            <th data-bind="click: sortByFatal">Fatals <span class="glyphicon" data-bind="visible: sortBy() == 'fatal', css: {'glyphicon-arrow-up': !fatalSortDesc(), 'glyphicon-arrow-down': fatalSortDesc() }"></span></th>
                            <th data-bind="click: sortByFatalTrend">Fatal trend <span class="glyphicon" data-bind="visible: sortBy() == 'fatalTrend', css: {'glyphicon-arrow-up': !fatalTrendSortDesc(), 'glyphicon-arrow-down': fatalTrendSortDesc() }"></span></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: sortedPackages">
                        <tr data-bind="click: highlightPackage, css: { 'info' : highlightedPackage() == name }">
                            <td><a data-bind="highlightedText: { text: name, highlight: search, css: 'highlight' }, attr: { href: url }"></a></td>
                            <td data-bind="text: info_count"></td>
                            <td>
                                <span class="label" data-bind="attr: { title: info_raw }, css: {'label-warning': info_trend() > 0, 'label-success': info_trend() < 0, 'label-default': info_trend() == 0 }">
                                    <span class="glyphicon" data-bind="css: {'glyphicon-arrow-up': info_trend() > 0, 'glyphicon-arrow-down': info_trend() < 0, 'glyphicon-option-horizontal': info_trend() == 0}"></span>
                                    <span data-bind="text: info_trend, visible: info_trend() != 0"></span>
                                </span>
                            </td>
                            <td data-bind="text: fatal_count"></td>
                            <td>
                                <span class="label" data-bind="attr: { title: fatal_raw }, css: {'label-warning': fatal_trend() > 0, 'label-success': fatal_trend() < 0, 'label-default': fatal_trend() == 0 }">
                                    <span class="glyphicon" data-bind="css: {'glyphicon-arrow-up': fatal_trend() > 0, 'glyphicon-arrow-down': fatal_trend() < 0, 'glyphicon-option-horizontal': fatal_trend() == 0}"></span>
                                    <span data-bind="text: fatal_trend, visible: fatal_trend() != 0"></span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var globalTimeRange;
        var globalOlsCache = {};

        function Package(package) {
            var self = this;
            self.name = package.name;
            self.url = package.url;
            self.dates = ko.observableArray(package.dates);
            self.limitedDates = ko.computed(() => {
                var now = Date.now();
                return ko.utils.arrayFilter(self.dates(), (date) => {
                    var d = Date.parse(date.date);
                    var delta = Math.floor((now - d) / (1000 * 60 * 60 * 24));
                    var timeRangeLimit = globalTimeRange();
                    return delta <= timeRangeLimit;
                });
            });
            self.countCache = {};
            self.info_count = ko.computed(function() {
                var dates = self.limitedDates();
                var key = 'info' + cyrb53(JSON.stringify(dates));
                if (self.countCache.hasOwnProperty(key)) {
                    return self.countCache[key];
                } else {
                    var res = self.limitedDates().reduce((sum, val) => sum + val.info, 0);
                    self.countCache[key] = res;
                    return res;
                }
            });
            self.fatal_count = ko.computed(function() {
                var dates = self.limitedDates();
                var key = 'fatal' + cyrb53(JSON.stringify(dates));
                if (self.countCache.hasOwnProperty(key)) {
                    return self.countCache[key];
                } else {
                    var res = self.limitedDates().reduce((sum, val) => sum + val.fatal, 0);
                    self.countCache[key] = res;
                    return res;
                }
            });

            self.info_trend = ko.computed(function() {
                if (globalTimeRange() == 1) {
                    return 0;
                } else {
                    return trendOLS(self.limitedDates(), 'info');
                }
            });
            self.fatal_trend = ko.computed(function() {
                if (globalTimeRange() == 1) {
                    return 0;
                } else {
                    return trendOLS(self.limitedDates(), 'fatal');
                }
            });

            self.info_raw = ko.computed(() => {
                var raw = rawValues(self.limitedDates(), 'info');
                return raw.slice(0, raw.length - 1);
            });

            self.fatal_raw = ko.computed(() => {
                var raw = rawValues(self.limitedDates(), 'fatal');
                return raw.slice(0, raw.length - 1);
            });

            function rawValues(dates, key) {
                var dx = Array.from(dates).reverse();
                return $.map(dx, (d) => d[key]);
            }

            function trendOLS(dates, key) {
                var dates_hash = key + cyrb53(JSON.stringify(dates));
                if (globalOlsCache.hasOwnProperty(dates_hash)) {
                    return globalOlsCache[dates_hash];
                }

                var xset = [...Array(dates.length + 1).keys()].slice(1);
                var yset = rawValues(dates, key);

                // exclude last day (it's usually incomplete).
                var xset_sliced = xset.slice(0, xset.length - 1);
                var yset_sliced = yset.slice(0, yset.length - 1);
                var ols = findLineByLeastSquares(xset_sliced, yset_sliced);
                var diffs = [];
                ols[1].forEach((current, i) => {
                    // -2 to exclude last day
                    if (i == (dates.length - 2)) {
                        return;
                    }

                    var next = ols[1][i + 1];
                    diffs.push(next - current);
                });
                var res = Math.round(1000 * diffs.reduce((sum, v) => sum + v, 0) / diffs.length) / 1000;
                globalOlsCache[dates_hash] = res;
                return res;
            }
        }

        function VM(packages) {
            var self = this;

            self.timeRange = ko.observable(7);
            // well, that's a hack :/ not sure how else to access this from Pacakge.
            globalTimeRange = self.timeRange;

            self.highlightedPackage = ko.observable();

            // package, info, fatal, infoTrend, fatalTrend
            self.sortBy = ko.observable("fatal");
            self.infoSortDesc = ko.observable(true);
            self.fatalSortDesc = ko.observable(true);
            self.packageSortDesc = ko.observable(false);
            self.infoTrendSortDesc = ko.observable(true);
            self.fatalTrendSortDesc = ko.observable(true);

            self.search = ko.observable("");
            self.packages = ko.observableArray(
                $.map(packages, function(p) { return new Package(p) })
            );

            self.highlightPackage = (package) => {
                if (self.highlightedPackage() == package.name) {
                    self.highlightedPackage(null);
                } else {
                    self.highlightedPackage(package.name);
                }
                return true;
            };

            self.filteredPackages = ko.computed(function() {
                if (!self.search()) {
                    return self.packages();
                } else {
                    return ko.utils.arrayFilter(self.packages(), function(package) {
                        var searchString = self.search();
                        return package.name.includes(searchString);
                    });
                }
            });

            self.sortedPackages = ko.computed(() => {
                // is 'observableArray' wrapper going to cause problems?
                var filtered = ko.observableArray(self.filteredPackages());
                return filtered.sorted((left, right) => {
                    if (self.sortBy() == "package") {
                        if (self.packageSortDesc()) {
                            return left.name < right.name;
                        } else {
                            return left.name > right.name;
                        }

                    } else if (self.sortBy() == "info") {
                        if (self.infoSortDesc()) {
                            return left.info_count() < right.info_count();
                        } else {
                            return left.info_count() > right.info_count();
                        }

                    } else if (self.sortBy() == "fatal") {
                        if (self.fatalSortDesc()) {
                            return left.fatal_count() < right.fatal_count();
                        } else {
                            return left.fatal_count() > right.fatal_count();
                        }

                    } else if (self.sortBy() == "infoTrend") {
                        if (self.infoTrendSortDesc()) {
                            return left.info_trend() < right.info_trend();
                        } else {
                            return left.info_trend() > right.info_trend();
                        }

                    } else if (self.sortBy() == "fatalTrend") {
                        if (self.fatalTrendSortDesc()) {
                            return left.fatal_trend() < right.fatal_trend();
                        } else {
                            return left.fatal_trend() > right.fatal_trend();
                        }
                    }
                });
            });

            self.sortByInfo = () => {
                self.sortBy("info");
                self.infoSortDesc(!self.infoSortDesc());
            }
            self.sortByFatal = () => {
                self.sortBy("fatal");
                self.fatalSortDesc(!self.fatalSortDesc());
            }
            self.sortByPackage = () => {
                self.sortBy("package");
                self.packageSortDesc(!self.packageSortDesc());
            }
            self.sortByInfoTrend = () => {
                self.sortBy("infoTrend");
                self.infoTrendSortDesc(!self.infoTrendSortDesc());
            }
            self.sortByFatalTrend = () => {
                self.sortBy("fatalTrend");
                self.fatalTrendSortDesc(!self.fatalTrendSortDesc());
            }
        }

        ko.applyBindings(VM(
            [
                {% for package in packages %}
                { name: '{{ package.name }}', url: '{% url 'package' package.name %}',
                    dates: [
                    {% for date, counts in package.dates.items %}
                        { date: '{{ date }}', info: {{ counts.info }}, fatal : {{ counts.fatal }} },
                    {% endfor %}
                    ]
                },
                {% endfor %}
            ]
        ));
    </script>
{% endblock %}