{% extends "crashes/base.html" %}

{% block title %}Sentry analyzer: Package browser{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8"><h1>Package browser</h1></div>

            <div class="col-md-4" style="padding-top: 20px">
                <div class="form-inline">
                    <label class="sr-only" for="packageSearch">Package Search</label>
                    <input data-bind="textInput: search" type="text" class="form-control" id="packageSearch" placeholder="Package Search">
                    <label for="timeRange">Past <span data-bind="text: timeRange"></span> <span data-bind="text: timeRange() == 1 ? 'day' : 'days'"></span></label>
                    <input id="timeRange" type="range" min="1" max="30" data-bind="value: timeRange, valueUpdate: 'input'">
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th data-bind="click: sortByPackage">Package ID <span class="glyphicon" data-bind="visible: sortBy() == 'package', css: {'glyphicon-arrow-up': !packageSortDesc(), 'glyphicon-arrow-down': packageSortDesc() }"></span></th>
                    <th data-bind="click: sortByInfo">Infos <span class="glyphicon" data-bind="visible: sortBy() == 'info', css: {'glyphicon-arrow-up': !infoSortDesc(), 'glyphicon-arrow-down': infoSortDesc() }"></span></th>
                    <th data-bind="click: sortByInfoTrend">Info trend <span class="glyphicon" data-bind="visible: sortBy() == 'infoTrend', css: {'glyphicon-arrow-up': !infoTrendSortDesc(), 'glyphicon-arrow-down': infoTrendSortDesc() }"></span></th>
                    <th data-bind="click: sortByFatal">Fatals <span class="glyphicon" data-bind="visible: sortBy() == 'fatal', css: {'glyphicon-arrow-up': !fatalSortDesc(), 'glyphicon-arrow-down': fatalSortDesc() }"></span></th>
                    <th data-bind="click: sortByFatalTrend">Fatal trend <span class="glyphicon" data-bind="visible: sortBy() == 'fatalTrend', css: {'glyphicon-arrow-up': !fatalTrendSortDesc(), 'glyphicon-arrow-down': fatalTrendSortDesc() }"></span></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: sortedPackages">
                <tr data-bind="click: highlightPackage, css: { 'info' : highlightedPackage() == name }">
                    <td><a data-bind="text: name, attr: { href: url }"></a></td>
                    <td data-bind="text: info_count"></td>
                    <td>
                        <span class="label" data-bind="attr: { title: info_raw }, css: {'label-warning': info_trend() > 0, 'label-success': info_trend() < 0, 'label-default': info_trend() == 0 }">
                            <span class="glyphicon" data-bind="css: {'glyphicon-arrow-up': info_trend() > 0, 'glyphicon-arrow-down': info_trend() < 0, 'glyphicon-option-horizontal': info_trend() == 0}"></span>
                            <span data-bind="text: info_trend, visible: info_trend() != 0"></span>
                        </span>
                    </td>
                    <td data-bind="text: fatal_count"></td>
                    <td>
                        <span class="label" data-bind="attr: { title: fatal_raw }, css: {'label-warning': fatal_trend() > 0, 'label-success': fatal_trend() < 0, 'label-default': fatal_trend() == 0 }">
                            <span class="glyphicon" data-bind="css: {'glyphicon-arrow-up': fatal_trend() > 0, 'glyphicon-arrow-down': fatal_trend() < 0, 'glyphicon-option-horizontal': fatal_trend() == 0}"></span>
                            <span data-bind="text: fatal_trend, visible: fatal_trend() != 0"></span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var globalTimeRange;
        function Package(package) {
            var self = this;
            self.name = package.name;
            self.url = package.url;
            self.dates = ko.observableArray(package.dates);
            self.limitedDates = ko.computed(() => {
                var now = Date.now();
                return ko.utils.arrayFilter(self.dates(), (date) => {
                    var d = Date.parse(date.date);
                    var delta = Math.floor((now - d) / (1000 * 60 * 60 * 24));
                    var timeRangeLimit = globalTimeRange();
                    return delta <= timeRangeLimit;
                });
            });
            self.info_count = ko.computed(function() {
                return self.limitedDates().reduce((sum, val) => sum + val.info, 0);
            });
            self.fatal_count = ko.computed(function() {
                return self.limitedDates().reduce((sum, val) => sum + val.fatal, 0);
            });
            self.info_trend = ko.computed(function() {
                return trendOLS('info');
            });
            self.fatal_trend = ko.computed(function() {
                return trendOLS('fatal');
            });

            self.info_raw = ko.computed(() => {
                var raw = rawValues(self.limitedDates(), 'info');
                return raw.slice(0, raw.length - 1);
            });

            self.fatal_raw = ko.computed(() => {
                var raw = rawValues(self.limitedDates(), 'fatal');
                return raw.slice(0, raw.length - 1);
            });

            function rawValues(dates, key) {
                var dx = Array.from(dates).reverse();
                return $.map(dx, (d) => d[key]);
            }

            function trendOLS(key) {
                var dates = self.limitedDates();
                var xset = [...Array(dates.length + 1).keys()].slice(1);
                var yset = rawValues(dates, key);

                // exclude last day (it's usually incomplete).
                var xset_sliced = xset.slice(0, xset.length - 1);
                var yset_sliced = yset.slice(0, yset.length - 1);
                var ols = findLineByLeastSquares(xset_sliced, yset_sliced);
                var diffs = [];
                ols[1].forEach((current, i) => {
                    // -2 to exclude last day
                    if (i == (dates.length - 2)) {
                        return;
                    }

                    var next = ols[1][i + 1];
                    diffs.push(next - current);
                });
                return Math.round(1000 * diffs.reduce((sum, v) => sum + v, 0) / diffs.length) / 1000;
            }
        }

        function VM(packages) {
            var self = this;

            self.timeRange = ko.observable(7);
            // well, that's a hack :/ not sure how else to access this from Pacakge.
            globalTimeRange = self.timeRange;

            self.highlightedPackage = ko.observable();

            // package, info, fatal, infoTrend, fatalTrend
            self.sortBy = ko.observable("fatalTrend");
            self.infoSortDesc = ko.observable(true);
            self.fatalSortDesc = ko.observable(true);
            self.packageSortDesc = ko.observable(false);
            self.infoTrendSortDesc = ko.observable(true);
            self.fatalTrendSortDesc = ko.observable(true);

            self.search = ko.observable();
            self.packages = ko.observableArray(
                $.map(packages, function(p) { return new Package(p) })
            );

            self.highlightPackage = (package) => {
                if (self.highlightedPackage() == package.name) {
                    self.highlightedPackage(null);
                } else {
                    self.highlightedPackage(package.name);
                }
                return true;
            };

            self.filteredPackages = ko.computed(function() {
                if (!self.search()) {
                    return self.packages();
                } else {
                    return ko.utils.arrayFilter(self.packages(), function(package) {
                        var searchString = self.search();
                        return package.name.includes(searchString);
                    });
                }
            });

            self.sortedPackages = ko.computed(() => {
                // is 'observableArray' wrapper going to cause problems?
                var filtered = ko.observableArray(self.filteredPackages());
                return filtered.sorted((left, right) => {
                    if (self.sortBy() == "package") {
                        if (self.packageSortDesc()) {
                            return left.name < right.name;
                        } else {
                            return left.name > right.name;
                        }

                    } else if (self.sortBy() == "info") {
                        if (self.infoSortDesc()) {
                            return left.info_count() < right.info_count();
                        } else {
                            return left.info_count() > right.info_count();
                        }

                    } else if (self.sortBy() == "fatal") {
                        if (self.fatalSortDesc()) {
                            return left.fatal_count() < right.fatal_count();
                        } else {
                            return left.fatal_count() > right.fatal_count();
                        }

                    } else if (self.sortBy() == "infoTrend") {
                        if (self.infoTrendSortDesc()) {
                            return left.info_trend() < right.info_trend();
                        } else {
                            return left.info_trend() > right.info_trend();
                        }

                    } else if (self.sortBy() == "fatalTrend") {
                        if (self.fatalTrendSortDesc()) {
                            return left.fatal_trend() < right.fatal_trend();
                        } else {
                            return left.fatal_trend() > right.fatal_trend();
                        }
                    }
                });
            });

            self.sortByInfo = () => {
                self.sortBy("info");
                self.infoSortDesc(!self.infoSortDesc());
            }
            self.sortByFatal = () => {
                self.sortBy("fatal");
                self.fatalSortDesc(!self.fatalSortDesc());
            }
            self.sortByPackage = () => {
                self.sortBy("package");
                self.packageSortDesc(!self.packageSortDesc());
            }
            self.sortByInfoTrend = () => {
                self.sortBy("infoTrend");
                self.infoTrendSortDesc(!self.infoTrendSortDesc());
            }
            self.sortByFatalTrend = () => {
                self.sortBy("fatalTrend");
                self.fatalTrendSortDesc(!self.fatalTrendSortDesc());
            }
        }

        ko.applyBindings(VM(
            [
                {% for package in packages %}
                { name: '{{ package.name }}', url: '{% url 'package' package.name %}',
                    dates: [
                    {% for date, counts in package.dates.items %}
                        { date: '{{ date }}', info: {{ counts.info }}, fatal : {{ counts.fatal }} },
                    {% endfor %}
                    ]
                },
                {% endfor %}
            ]
        ));

        // from https://medium.com/@sahirnambiar/linear-least-squares-a-javascript-implementation-and-a-definitional-question-e3fba55a6d4b
        function findLineByLeastSquares(values_x, values_y) {
            var x_sum = 0;
            var y_sum = 0;
            var xy_sum = 0;
            var xx_sum = 0;
            var count = 0;

            /*
            * The above is just for quick access, makes the program faster
            */
            var x = 0;
            var y = 0;
            var values_length = values_x.length;

            if (values_length != values_y.length) {
                throw new Error('The parameters values_x and values_y need to have same size!');
            }

            /*
            * Above and below cover edge cases
            */
            if (values_length === 0) {
                return [ [], [] ];
            }

            /*
            * Calculate the sum for each of the parts necessary.
            */
            for (let i = 0; i< values_length; i++) {
                x = values_x[i];
                y = values_y[i];
                x_sum+= x;
                y_sum+= y;
                xx_sum += x*x;
                xy_sum += x*y;
                count++;
            }

            /*
            * Calculate m and b for the line equation:
            * y = x * m + b
            */
            var m = (count*xy_sum - x_sum*y_sum) / (count*xx_sum - x_sum*x_sum);
            var b = (y_sum/count) - (m*x_sum)/count;

            /*
            * We then return the x and y data points according to our fit
            */
            var result_values_x = [];
            var result_values_y = [];

            for (let i = 0; i < values_length; i++) {
                x = values_x[i];
                y = x * m + b;
                result_values_x.push(x);
                result_values_y.push(y);
            }

            return [result_values_x, result_values_y];
        }
    </script>
{% endblock %}